#root {
  width: 1024px;
  margin: 0 auto;

  @media screen and (max-width:1024px) {
    width: calc(100% - 20px);
    padding: 10px;
  }

  .navication {
    display: flex;
    font-size: 3vw;
    cursor: pointer;
    padding: 1vw;

    .nav_item {
      &.active {
        font-weight: 600;
        border-bottom: 2px solid #22b8cf;
        color: #22b8cf;

        &:hover {
          color: #3bc9db;
        }
      }

      &:hover {
        color: red;
      }

      &+.nav_item {
        margin-left: 1vw;
      }
    }
  }

  .news_list {
    margin: 0;
    padding: 0;
    width: 100%;

    .news_item {
      width: 100%;

      &+.news_item {
        margin-top: 100px;
      }

      .tumbnail {
        a {
          display: block;
          width: 100%;
          height: auto;

          img {
            display: block;
            max-width: 100vw;
            width: 100%;
          }
        }
      }

      .contents {
        max-width: 100vw;
        margin-top: 15px;


        a {
          display: block;
          font-size: 3vw;
          word-break: keep-all;
        }

        p {
          margin-top: 20px;
          font-size: 1vw;
          word-break: keep-all;
        }
      }
    }
  }
}